/* dette her oppe er for hele siden */
* {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-align: center;
}

h1 {
  text-align: center;
}

#heiheihei {
  margin-top: 15%;
}
a {
  transition-duration: 20ms;
  text-decoration: none;
  font-size: 100%;
  color: #000;
}
#heihei {
  transform: rotate(0deg);
  transition-duration: 1s;
}
a:visited {
  color: #000;
}

a:active {
  font-size: 300%;
  background-color: blueviolet;
  color: blue;
}
#heihei:hover {
  transform: rotate(-10deg);
  color: white;
}

/* dette er for andre siden */

#halla {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.fint {
  width: 100px;
  height: 100px;
}

.listen {
  background-color: rgba(187, 40, 40, 0.396);
}

#sistebilde {
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
