html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  justify-items: center;
  align-items: center;
}
#hoved {
  width: 600px;
  height: 600px;
  display: grid;
  gap: 5px;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "t t t t t"
    ". . . . ."
    "v v . . ."
    "v v . . ."
    "v v . . ."
    "h h h h h";
}
#hoved > div {
  background-color: #aac9c6;
  border: 1px solid black;
  border-radius: 5px;
}
.topp {
  grid-area: t;
}
.venstre {
  grid-area: v;
}
.hoyre {
  grid-area: h;
}

img {
  object-fit: cover;
}

#svart {
  border: 5px;
  border-radius: 50%;
  color: black;
  z-index: 6;
  width: 100px;
  height: 100px;
  border-style: solid;
}
#rod {
  border: 5px;
  border-radius: 50%;
  color: red;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-style: solid;
}
#bla {
  border: 5px;
  border-radius: 50%;
  color: blue;
  z-index: 4;
  width: 100px;
  height: 100px;
  border-style: solid;
}
#gul {
  border: 5px;
  border-radius: 50%;
  color: yellow;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-style: solid;
}
#gronn {
  border: 5px;
  border-radius: 50%;
  color: green;
  z-index: 2;
  width: 100px;
  height: 100px;
  border-style: solid;
  position: relative;
  top: 10px;
  left: 50px;
}

.hei {
  position: absolute;
}
